@model PL.Models.QuestionViewModel

<h3>Вы действительно хотите удалить вопрос?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>

        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        @Html.ActionLink("Вернуться к списку вопросов", "Details", "Tests", new { id = Model.Test_ID }, null)
    </div>
    }
</div>
