@model PL.Models.ResultViewModel


<h2>Ваш результат:</h2>
<h2>@Html.DisplayFor(modelitem => Model.Test_Topic)- @Html.DisplayFor(modelitem => Model.Score)/@Html.DisplayFor(modelitem => Model.Count_of_questions)</h2>
<h2>Правильность расширенного ответа будет проверена позже</h2>
@Html.ActionLink("Список тестов", "Index", "UserTests")
